* {
  margin: 0;
}
body {  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  overflow-x: hidden;
  /* background: url('./assets/images/backgroun.jpg'); */
  
  background: url('./assets/images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
